.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 250px 150px;
}

.banner_container h1 {
  margin: 0 auto;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
}


.scroll {
  color: white;
  position: absolute;
  bottom: 10px;
  right: calc(49% - 30.07px);
  text-align: center;
}

.scroll i {
  font-size: 40px;
}

.banner a:hover {
  text-decoration: none;
}

.banner_channel {
  background-size: cover;
  background-position: center;
  height: 500px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.add i {
  color: white;
  font-size: 40px;
  opacity: 0;

}

.banner_channel:hover {
  i{
    opacity: 1;
    transition: ease 1s;
  }
}
